@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section" id="projects-wrap">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h1 class="text-white">We are trying to deliver 100% quality product and success their business to achieve ultimate goal.</h1>
                </div>
            </div>
            <div class="col-lg-6">
            </div>
        </div>
    </div>
</section>

<section id="projects" class="section-bottom">
 

        <div class="row py-4">
            <div class="col-lg-7 col-md-12 col-sm-12 ">
                <div class="single-project">
                    <img src="images/bg/banner_bg.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 ">
                <div class="project-content-block">
                    <h4>Do you know who we are?</h4>
                    <h2>More than just investment service ...</h2>
                    <p>We  are providing stable wealth management and guarantee your  assets from inflation..</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section" id="section-testimonial">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-sm-12 col-md-12">
                <div class="section-heading testimonial-heading">
                    <h1>What they say <br>about us</h1>
                    <p>Numquam doloribus impedit at consectetur molestiae tempora ratione possimus in veniam aperiam, eum consequuntur, unde. Earum ullam molestiae suscipit saepe sunt recusandae.</p>
                </div>
            </div>
            <div class="col-lg-8 col-sm-12 col-md-12">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="test-inner ">
                            <div class="test-author-thumb d-flex">
                                <img src="~/images/About/business-cat.jpg" />
                                <div class="test-author-info">
                                    <h4>Samual</h4>
                                    <h6>Chairmeow</h6>
                                </div>
                            </div>

                            Quas ut distinctio tenetur animi nihil rem, amet dolorum totam. Ab repudiandae tempore qui fugiat amet ipsa id omnis ipsam, laudantium! Dolorem.

                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="test-inner ">
                            <div class="test-author-thumb d-flex">
                                <img src="~/images/About/Cats_in_Suits_01.jpg" />
                                <div class="test-author-info">
                                    <h4>Ron</h4>
                                    <h6>Co-Founder</h6>
                                </div>
                            </div>

                            Quas ut distinctio tenetur animi nihil rem, amet dolorum totam. Ab repudiandae tempore qui fugiat amet ipsa id omnis ipsam, laudantium! Dolorem.

                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="test-inner ">
                            <div class="test-author-thumb d-flex">
                                <img src="~/images/About/Busniz_Cat.jpg" />
                                <div class="test-author-info">
                                    <h4>William </h4>
                                    <h6>Founder & CEO</h6>
                                </div>
                            </div>

                            Quas ut distinctio tenetur animi nihil rem, amet dolorum totam. Ab repudiandae tempore qui fugiat amet ipsa id omnis ipsam, laudantium! Dolorem.

                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="test-inner ">
                            <div class="test-author-thumb d-flex">
                                <img src="~/images/About/Cat_Bıznız.jpg" />
                                <div class="test-author-info">
                                    <h4>Jackson</h4>
                                    <h6>CTO</h6>
                                </div>
                            </div>

                            Quas ut distinctio tenetur animi nihil rem, amet dolorum totam. Ab repudiandae tempore qui fugiat amet ipsa id omnis ipsam, laudantium! Dolorem.

                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="test-inner">
                            <div class="test-author-thumb d-flex">

                                <img src="~/images/pamuk.jpeg" class="img-fluid" /> 
                                <div class="test-author-info">
                                    <h4>Anderson</h4>
                                    <h6>CFO</h6>
                                </div>
                            </div>

                            Quas ut distinctio tenetur animi nihil rem, amet dolorum totam. Ab repudiandae tempore qui fugiat amet ipsa id omnis ipsam, laudantium! Dolorem.

                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="test-inner">
                            <div class="test-author-thumb d-flex">
                                <img src="~/images/About/Cat-Necktie.jpg" />
                                <div class="test-author-info">
                                    <h4>Bob</h4>
                                    <h6>Investment Analyst Intern</h6>
                                </div>
                            </div>

                            Quas ut distinctio tenetur animi nihil rem, amet dolorum totam. Ab repudiandae tempore qui fugiat amet ipsa id omnis ipsam, laudantium! Dolorem.

                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section" id="blog">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 text-center">
                <div class="section-heading">
                    <!-- Heading -->
                    <h2 class="section-title">
                        Read our latest news
                    </h2>

                    <!-- Subheading -->
                    <p>
                        Our duty towards you is to share our experience we're reaching in our work path with you.
                    </p>
                </div>
            </div>
        </div> <!-- / .row -->

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="blog-box">
                    <div class="blog-img-box">
                        <img src="images/blog/blog-1.jpg" alt="" class="img-fluid blog-img">
                    </div>
                    <div class="single-blog">
                        <div class="blog-content">
                            <h6> 17 October 2018</h6>
                            <a href="#!">
                                <h3 class="card-title">Top tips to speed up your site in a speedy time</h3>
                            </a>
                            <p>There are many variations of passages Lorem Ipsum available, but majority have ama suffered altratio. the lorem.</p>
                            <a href="#!" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-box">
                    <div class="blog-img-box">
                        <img src="images/blog/blog-2.jpg" alt="" class="img-fluid blog-img">
                    </div>
                    <div class="single-blog">
                        <div class="blog-content">
                            <h6> 17 October 2018</h6>
                            <a href="#!">
                                <h3 class="card-title">Brand your site value with marketing strategies</h3>
                            </a>

                            <p>There are many variations of passages Lorem Ipsum available, but majority have ama suffered altratio. the lorem.</p>
                            <a href="#!" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-8">
                <div class="blog-box">
                    <div class="blog-img-box">
                        <img src="images/blog/blog-3.jpg" alt="" class="img-fluid blog-img">
                    </div>
                    <div class="single-blog">
                        <div class="blog-content">
                            <h6> 17 October 2018</h6>
                            <a href="#!">
                                <h3 class="card-title">Website Optimization is very essential for site speed</h3>
                            </a>
                            <p>There are many variations of passages Lorem Ipsum available, but majority have ama suffered altratio. the lorem.</p>
                            <a href="#!" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

