@using Stock_Trade_1.Models
@{


    Layout = "~/Views/Shared/_Layout.cshtml";

}






<section class="section" id="services-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 text-center">
                <div class="section-heading">
                    <!-- Heading -->
                    <h2 class="section-title mb-2 text-white">
                    </h2>

                    <!-- Subheading -->
                    <p class="mb-5 text-white">
                    </p>
                </div>
            </div>
        </div> <!-- / .row -->

        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                <div class="web-service-block">
                    <i class="fas fa-chart-pie"></i>
                    <h3>Stock</h3>
                    <p>
                        A stock is a share of ownership in a company, which the company issues for purchase as a way of raising capital. They are acquired via the stock market in a practice known as trading. When the company does well, the price rises and your stock value increases. If it does poorly, the price drops and your investment loses money.
                        <br />
                        Stocks come with considerable risk, because they are tied to the success of the company. If the firm does badly or loses the confidence of its investors, the stock price can quickly fall. Indeed, it’s possible for an investor to lose all of their money when a stock tanks. Of course, this also means that they can generate higher profits if they succeed.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                <div class="web-service-block">
                    <i class="fas fa-piggy-bank"></i>
                    <h3>Investment</h3>
                    <p>
                        When you use money to acquire an asset that you hope will generate income or appreciate in value, that is an investment. There is no guarantee, however, that investments will always make you money—it is quite possible to lose money instead. Generally, the riskier the investment, the higher the profit if it does succeed.11 Even a savings account is an investment, although the low interest rate means that the money it generates won’t amount to very much. This is due primarily to its safety, being guaranteed against loss by the FDIC.
                        <br />
                        Possible investments of varying risk are all around you, from real estate to opening a business. A major form of investment is the stock market. Let’s get into two ways you can do that: stocks and bonds.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                <div class="web-service-block">
                    <i class="fas fa-chart-line"></i>
                    <h3>Inflation </h3>
                    <p>
                        Bonds may provide a steady stream of income, but the amount is fixed. This means that their value can be reduced by inflation, which is an overall increase in the price of goods and services over time. If things cost more but your income doesn’t increase to match the rise in prices, then your money is worth less than it was before, because it can’t purchase as much as it used to be able to buy. To calculate the rate of inflation, the government looks at a consumer basket of commonly purchased items, known as the Consumer Price Index (CPI), tracking the cost of buying the items in the basket over time.
                        <br />
                        Economists theorize a variety of causes of inflation, including too much available money in an economy, expectations of rising prices becoming a self-fulfilling prophecy, and sudden shocks to an economic system. An example of the last would be the COVID-19 pandemic, which caused soaring worldwide inflation in 2021 and 2022.18
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6 ">
                <div class="web-service-block">
                    <i class="fas fa-file-invoice-dollar"></i>
                    <h3>Taxes</h3>
                    <p>
                        It was Benjamin Franklin who wrote, “In this world, nothing is certain except death and taxes.” Governments, whether federal, state, or local, tax their citizens to raise revenues to fund their activities and services, such as building and maintaining infrastructure (e.g., roads, bridges, subway systems), running schools, fielding a military, and providing social programs like Medicare and Social Security. Taxes are mandatory, have been around for more than 5,000 years, and are how we pay for the collective good.
                        <br />
                        There are three basic types of taxes: income, property, and sales. They are levied as a percentage on what you earn, own, and buy. Federal, state, and local income taxes are withheld from the paychecks of salaried employees.222324 For the self-employed, federal income taxes must be paid only in estimated quarterly installments.25 Federal income tax returns must be filed annually, usually no later than April 15, though the date can vary slightly depending on weekends and holidays.26 Most states also use April 15, though there are some exceptions.
                        <br />
                        Property taxes are collected at regular intervals, most often semiannually, and are paid in arrears (i.e., you pay your 2022 taxes in 2023). Sales taxes are paid when you make your purchase.
                        <br />
                        If you don’t pay your taxes, the repercussions can be severe, so it’s very important to understand how they work.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6 ">
                <div class="web-service-block">
                    <i class="fas fa-landmark"></i>
                    <h3>The Economy and the Stock Market</h3>
                    <p>
                        The stock market is one of the most effective ways for companies, the backbone of the economy, to raise money. These businesses provide the goods and services that we rely on every day and pay salaries to the majority of the population. If they were to be starved of the cash that the stock market provides, then it wouldn’t be good news for the economy.
                        <br />
                        The stock market also affects the economy in other ways. For example, many people invest their savings or retirement funds in the stock market and hope for their money to grow. If that weren’t to happen, then consumer spending would fall, governments would have to dedicate more resources to propping up the population, and everyone will suffer the consequences.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6 ">
                <div class="web-service-block">
                    <i class="fas fa-balance-scale"></i>
                    <h3>Financial Risk</h3>
                    <p>Financial risk in investing applies to the possibility of losing money when using money to purchase assets. While the hope is to increase your funds, there is a level of risk wherein you could lose some or all of your money instead. These investments range from relatively risk-free investments such as certificates of deposit (CDs) that are backed by the government to more volatile assets such as cryptocurrency that could fluctuate greatly from day to day or even hour to hour.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section" id="pricing">
    <!-- Content -->
    <div class="container">
        <!-- / .row -->
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="pricing-box">
                    <h3>Standard</h3>
                    <div class="price-block">
                        <h2><small>$</small>13<span>monthly</span></h2>
                    </div>
                    <ul class="price-features list-unstyled">
                        <li>Limited Consultancy</li>
                        <li>E-mail Only support</li>
                        <li>Working Hours Support </li>
                        <li>Report of Last 3 Months</li>

                    </ul>

                    <a href="#!" class="btn btn-primary btn-circled">Purchase Now</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="pricing-box">
                    <h3>Premium</h3>
                    <div class="price-block">
                        <h2><small>$</small>23<span>monthly</span></h2>
                    </div>

                    <ul class="price-features list-unstyled">
                        <li>Premium Consultancy</li>
                        <li>E-mail and Telephone support via Message</li>
                        <li>Working Hours Support </li>
                        <li>Report of Last 3 Months and Next 3 Months Predictions</li>
                    </ul>

                    <a href="#!" class="btn btn-primary btn-circled">Purchase Now</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-8 col-md-6">
                <div class="pricing-box ">
                    <h3>Business Consultancy</h3>
                    <div class="price-block">
                        <h2><small>$</small>33<span>monthly</span></h2>
                    </div>

                    <ul class="price-features list-unstyled">
                        <li>Unlimited Consultancy</li>
                        <li>E-mail and Telephone support via Message,Call</li>
                        <li>7/24 Support </li>
                        <li>Report of Last Year and Next Year Predictions</li>
                    </ul>

                    <a href="#!" class="btn btn-primary btn-circled">Purchase Now</a>
                </div>
            </div>
        </div>
    </div>
</section>

